<%- include("./partials/header") %>

<div class="container">
  <% if(error && error.length > 0){ %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %> <% if(success && success > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
</div>

<div class="container-fluid">
  <div id="landing-header">
    <h1>Welcome to YelpCamp</h1>
  </div>
  <a class="btn btn-info" href="/campgrounds/new">Add New Campground</a>
  <a class="btn btn-info" href="/campgrounds">View All Campgrounds</a>
</div>

<%- include("./partials/footer") %>
